<h2 class="self-center text-center text-5xl font-bold">Outbound Flights from <%=@origin_airport[0]%> to <%=@destination_airport[0]%></h2>

<%= form_with url: "bookings/new/", method: "get", class: "flex flex-col grow gap-0.5 px-2 flex-col self-center justify-center" do |f| %>

  <%= f.hidden_field :passenger_count, :value => params[:passenger_count] %>

      <% @booking_options.each do |booking| %>
        <div class="p-10 bg-blue-100 rounded-md">
           <%= f.label(:booking_option, {for: "booking_option_#{booking.map(&:id).join("_")}"}, { :class => "flex gap-2 items-center"}) do %>
             <%= f.radio_button :booking_option, booking.map(&:id), required: true %>
            <% booking.each do |flight| %>
              <div class="bg-white p-6 rounded-lg shadow-lg">
                <h2 class="text-2xl font-bold mb-2 text-gray-800">Flight#<%= flight.id %></h2>
                <p class="text-gray-700"><%=flight.flight_details %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %> 

    <% if @booking_options.empty? %>
      <p>Sorry, no flights match your search criteria. Please choose a date within the next 30 days.</p>
    <% else %>
      <div class="flex justify-end items-center">
        <%= f.submit "Book Flight", class: "bg-green-500 hover:bg-green-700 text-white font-bold py02 px-4 rounded border border-black" %>
      </div>
    <% end %>
<% end %>
