<%= form_with url: flights_path, method: :get do |form| %>

  <div class="search-form">
    <%= form.label :q, 'Search Flights:' %>
    <%= form.search_field :q %>
    <%= form.submit "Search Flights" %>
  </div>
<%= form_with url: flights_path, method: :get do |f| %>
 <%= f.label 'Where from?', class: 'label' %>
 <%= f.select(:departure_airport, Airport.city, selected: @departure_airport, include_blank: 'Depart') %>
<% end %>
<% end %>