<div class="border">
  <h1 class="self-center text-xl font-bold text-center"><%= "Flight #{flight.id} from #{flight.origin_airport.code} to #{flight.destination_airport.code}" %></h1>
  <div>
    <p class="flex justify-between">
      <strong>Departure:</strong>
      <span>
        <%= flight.readable_departure %>
        on <%= flight.readable_date%>
        from <%= flight.origin_airport.code %>
      </span>
    </p>
  
    <p>
        <strong>Arrival:</strong>
        <span>
          <%= flight.readable_arrival %>
          at <%= flight.destination_airport.code %>
        </span>
    </p>
  
  </div>
</div>
